.card-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card__side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card__side--front {
    background-color: #2196f3;
  }
  
  .card__side--back {
    background-color: #303f9f;
    transform: rotateY(180deg);
  }
  
  .pokemon-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .text-box {
    text-align: center;
    color: white;
  }
  
  .text-box-top {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .text-box-middle {
    font-size: 2rem;
    font-weight: bold;
  }
  